@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body, html {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background: #86dcd5;
    padding: 20px;
    text-align: center;
    color: white;
}

footer {
    background: #86dcd5;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    padding: 1px;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #86dcd5;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.form {
    max-width: 270px;
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    font-weight: normal;
    line-height: 1.625;
    margin: 8px auto;
    padding-left: 16px;
    z-index: 2;
}

h2 {
    font-size: 18px;
    margin-bottom: 8px;
}

.area, .location, .submit, .result {
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 76%;
    border: 0;
    margin: 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 5px;
}

.area {
    background: #86dcd5;
    height: 35px;
}

.location {
    background: #f2f2f2;
    height: 40px;
}

.submit {
    background: #86dcd5;
    margin: 25px 0 10px;
    height: 35px;
    text-align: center;
}

.result {
    background: #46cbe6;
    margin: 25px 0 10px;
    height: 70px;
    text-align: center;
}

.img {
    background: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}